main{
    color: var(--main2);
    font-family: "Archivo Black";
}

main section{
    padding-bottom: 5vh;
}

section div{
    padding: 0 30px;
}

section .content{
    flex:2;
}

section .content *{
    margin: 0;
}

section .content>*:first-child{
    margin-top: auto;
}

section .content>*:last-child{
    margin-bottom: auto;
}

section .content h1{
    font-size: 2.75em;
    margin-right: auto;
    padding-bottom: 2vh;
}

section .content h2{
    padding-bottom: 1.5vh;
}

section .content h2::before{
    content: "";
    width: 7%;
    height: 5px;
    background: var(--main2);
    display: block;
    margin-bottom: 5px;
    box-sizing: content-box;
}

section .content .social-img{
    padding: 0 50% 0 10%;
}

section .content .social-img a{
    margin: auto;
}

section .sidePic{
    flex:1;
}

.social-img img{
    width: auto;
    height: 5cqh;
    box-sizing: border-box;
}

.sidePic img{
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

@media screen and (max-width: 1300px){
}

@media screen and (max-width: 768px){
    section.row{
        flex-direction: column-reverse !important;
    }

    section>div{
        flex: none !important;
    }

    .sidePic{
        height: 40vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 0 0 30px 0!important;
    }

    .sidePic img{
        height: 100% !important;
        width: auto !important;
        margin: auto;
    }

    .content>*{
        margin: 0 auto !important;
        text-align: center;
    }

    section .content h1 {
        color: var(--grey)
    }

    section .content h2::before {
        display: none;
    }

    section .content .social-img{
        padding:0;
    }

    section .content .social-img img{
        padding:0 15px;
    }
}

@media screen and (max-width: 600px){
}