:root{
    --white: #faf9f6;
    --main1: #caa892;
    --main2: #f9e076;
    --comp: #ff0080;
    --grey: #0a2342;
    --black: #000;

}

*{
    font-family: "Archivo Black", sans-serif;
}

.row{
    flex-direction: row !important;
}

body{
    margin: 0;
    position: absolute;
    scrollbar-gutter: auto;
    width:100%;
    background-color: var(--main2);
}

a{
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.flexBox{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-sizing: border-box;
}

header{
    background-color: var(--main1);
    margin: 0;
    box-sizing: border-box;
    flex-direction: row !important;
    padding: 2vh 3vw;
    width:100%;
}

header .textBox{
    background-color: var(--main1);
    margin:auto;
}

header .title{
    flex:1;
}

.title h1{
    font-family: "Archivo Black", sans-serif;
    font-size: 4em;
    color: var(--main2);
    margin: auto;
    margin-right: 0;
    text-align: right;
    white-space: nowrap;
}

.title h1:first-child{
    margin-bottom: 0;
}

.title h1:nth-of-type(2){
    margin-top:0;
}

.title h1:nth-of-type(1) span{
    transform: rotate(-7deg);
    display: inline-block;
}

/*.title h1:nth-of-type(2) span{
    transform: rotate(7deg);
    display: inline-block;
}*/

nav{
    flex:4;
    flex-direction: row !important;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 0 0 5vw;
    margin:auto 0 15px 0;
    align-items: flex-end;
    z-index: 10;
}

nav #mobileMenu{
    display: none;
}

nav a{
    margin: 0;
    margin-top: auto;
    color: var(--main2);
    font-family: "Archivo Black";
    padding: 0 3vw;
    font-size: 2em;
}

nav a:hover{
    color: var(--grey);
}

nav a:first-of-type{
    margin-left: auto;
}

nav a img{
    height: 1.25em;
    width: auto;
}

a#current{
    color: var(--grey);
}

.fixed nav {
	position: fixed;
	padding: 1vh 3vw;
	margin: 0;
	height: max-content;
	width: 100%;
	left: 0px;
	top: 0px;
	padding-bottom: 15px;
    background-color: var(--main1);
}

.fixed nav a:last-of-type{
    margin-right: auto;
}

main{
    box-sizing: border-box;
    width:100%;
}

main section{
    padding: 0 3vw;
}

main section:first-child{
    padding-top: 5vh;
}

main section{
    background-color: var(--main1);
    width: 100%;
    box-sizing: border-box;
}

footer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background: var(--main2);
    padding: 30px 3vw;
    min-height: 20vh;
    width: 100%;
    box-sizing: border-box;
    color: var(--main1);
    font-family: "Archivo Black";
}
footer .content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

footer .content div{
    padding:15px
}

footer .logo{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

footer .logo .title h1{
    color:var(--main1)
}

footer .contactIcons{
    margin: 0;
    flex-direction: row !important;
}


footer a.social-img{
    margin: auto;
}

footer .social-img img{
    width: 80px;
    height: auto;
}

footer .centerDivider{
    flex:1;
}

footer .sitemap{
    display: flex;
    flex-direction: row;
    justify-content: right;
    font-size: 1.5em;
    padding: 40px 15px 40px 0 !important;
}

footer .sitemap ul{
    list-style-type: none;
    margin: 0;
}

footer .sitemap li{
    padding: 2px 0;
    margin: auto;
}

footer li a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

footer li a:hover{
    color:var(--grey);
}

footer .copywrite{
    text-align: center;
    font-size: 1rem;
}

footer .copywrite p{
    margin: 0 45px;
}

@media screen and (max-width: 1300px){
    header:not(.closed){
        flex-direction: column-reverse !important;
    }

    #mobileMenu{
        margin: 0 0 0 auto;
    }

    .fixed #mobileMenu, header:not(.closed) #mobileMenu{
        margin: 0 auto 0 auto;
    }

    header:not(.closed) #mobileMenu{
	padding-bottom: 37px;
    }

    header:not(.closed) nav{
        flex-direction: column !important;
        padding: 30px 0;
        margin: 0;
    }

    header.fixed:not(.closed) nav{
	padding: 1vh 0;
    }

    .closed nav a{
        display: none;
    }

    nav #mobileMenu{
        display: inherit;
    }

    nav a{
        margin: auto;
        padding: 7px 0;
    }

    header{
        padding: 2vh 5vw;
    }
    main section{
        padding: 0 5vw;
    }


    header:not(.closed) nav a#mobileMenu, header:not(.closed) nav a:last-of-type{
    	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
}

header:not(.closed) nav a#mobileMenu::after, header:not(.closed) nav a:last-of-type::after {
    content: "";
    background: var(--main2);
    height: 5px;
    width: 10vw;
    box-sizing: border-box;
    margin: 32px 0 0 0;
}

header:not(.closed) nav a:last-of-type::after {
    margin: 20px auto 0 auto;
}
    footer{
        padding: 30px 5vw;
    }
}

@media screen and (max-width: 768px){
    body{
        font-size: 14px;
    }
    
}

@media screen and (max-width: 600px){
    body{
        font-size: 12px;
    }
    
    footer .content{
        flex-direction: column;
    }

    footer .centerDivider{
        display: none;
    }

    footer .sitemap{
        justify-content: center;
    }
}

@media screen and (max-width: 385px){
    header{
        flex-direction: column-reverse !important;
    }
    #mobileMenu{
        margin: 0 auto 0 auto !important;
    }
}
