.titlePics .row{
    flex-direction: row !important;
}

.titlePics .pic{
    flex:1;
    padding: 3vw;

}

.titlePics img{
    image-rendering: optimizeSpeed;
    width: 100%;
}

.titlePics .pic p{
    font-family: "Archivo Black";
    color: var(--grey);
    margin: auto;
    margin-left: 0;
    padding: 5px 0;
}

.titlePics .pic p:first-of-type{
    padding-top: 15px;
}

.titlePics .pic p:first-of-type::before{
    display: block;
    content: "";
    height:5px;
    width: 35px;
    margin: 0 auto 10px 0;
    background-color: var(--main2);
}

.titlePics .pic p:last-of-type{
    font-style: italic;
}

a.imgLink{
    display: flex;
}

section.contactImg{
    height: 75cqw;
    width: 100%;
    background-image: url("../pics/general/indexBG.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding: 0;
    background-position: center;
    background-attachment: fixed;
}

.contactImg .content{
    height: 100%;
    background: rgba(0,0,0,0.5);
    padding: 0 3vw;
}

.contactImg .content a{
    margin: auto;
    color: var(--white);
    font-family: "Archivo Black";
    font-size: 3em;
    border:5px solid var(--white);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
}

.contactImg .content a:hover{
    color: var(--main2);
    border-color: var(--main2);
}

@media screen and (max-width: 1300px){
}

@media screen and (max-width: 768px){
    .titlePics .row{
        flex-direction: column !important;
        display: none;
    }

    .titlePics .row:first-child{
        display: inherit;
    }
}

@media screen and (max-width: 600px){
}
